/* ------------------------------ fancy_button ------------------------------ */
.fancy_button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.fancy_button:hover {
  background-color: darkblue;
  box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -webkit-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -moz-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  }

.fancy-button:active {
  background-color: blue;
}

/* ------------------------------ base-button ------------------------------ */
.base-button {
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.base-button:hover {
  box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -webkit-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -moz-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
}

/* ------------------------------ base-button-primary ------------------------------ */
.base-button-primary {
  background-color: blue;
}

.base-button-primary:hover {
  background-color: darkblue;
  }

.base-button-primary:active {
  background-color: blue;
}

/* ------------------------------ base-button-secondary ------------------------------ */
.base-button-secondary {
  background-color: gray;
}

.base-button-secondary:hover{
  background-color: darkgray;
  }

.base-button-secondary:active{
  background-color: gray;
}
/* ------------------------------ success_button ------------------------------ */
.base-button-success {
  background-color: darkgreen;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.base-button-success:hover{
  background-color: darkolivegreen;
  box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -webkit-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  -moz-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
}

.base-button-success:active{
  background-color: darkgreen;
}
/* ------------------------------ primary_button (same as fancy_button) ------------------------------ */
/* ------------------------------ primary_button (same as fancy_button) ------------------------------ */
/* ------------------------------ primary_button (same as fancy_button) ------------------------------ */
/* ------------------------------ primary_button (same as fancy_button) ------------------------------ */
/* ------------------------------ primary_button (same as fancy_button) ------------------------------ */
